.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #c7c5c5;
    padding: 1em;
    flex-wrap: wrap;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: rgb(238, 233, 233);
    text-decoration: none;

}

.item a:hover {
    color: #046bda;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .list {
        flex-direction: column; 
        width: 100%;
    }

    .item {
        margin: 0.5em 0; 
    }
}